* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  text-align: center;
  padding: 50px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
  background: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f1faee;
  border-bottom: 2px solid #e63946;
}

.order-btn a {
  background: #e63946;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.order-btn a:hover {
  background: #d62828;
}

.container {
  width: 90%;
  max-width: 600px;
  background: #fff;
  padding: 30px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

header h1 {
  font-size: 24px;
  color: #e63946;
  text-align: center;
}

header p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.feedback-form label {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  display: block;
}

.feedback-form select,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.feedback-form textarea {
  resize: vertical;
}

.feedback-form button {
  width: 100%;
  padding: 12px;
  background-color: #e63946;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #d62828;
}

footer {
  background: #1d3557;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

footer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  color: white;
  margin: 0 15px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #e63946;
}
